

{{partial 'navbar'}}
<div class="header-background section">
        <div id="v-card-holder">
            <div class="container"> 
                <h3>Prueba inicial</h3>
                    
                     {{outlet}}
            </div>
        </div>
    </div>


{{!-- 
{{outlet}} --}}