<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Ficha Personal{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'route-contacto-emergencia' tagName="li"}}<a href="">emergencia</a>{{/link-to}}
            {{#link-to 'route-documentos' tagName="li"}}<a href="">documentos</a>{{/link-to}}
            {{#link-to 'route-entrenamiento' tagName="li"}}<a href="">entrenamiento</a>{{/link-to}}
            {{#link-to 'route-exp-laboral' tagName="li"}}<a href="">laboral</a>{{/link-to}}
            {{#link-to 'route-idiomas' tagName="li"}}<a href="">idiomas</a>{{/link-to}}
            {{#link-to 'route-medico-cabecera' tagName="li"}}<a href="">cabecera</a>{{/link-to}}
            {{#link-to 'route-memo' tagName="li"}}<a href="">memo</a>{{/link-to}}
            {{#link-to 'route-vacaciones' tagName="li"}}<a href="">vacaciones</a>{{/link-to}}
            {{#link-to 'ruta-formacion-academica' tagName="li"}}<a href="">academica</a>{{/link-to}}
            {{#link-to 'route-bachiller' tagName="li"}}<a href="">Bachiller</a>{{/link-to}}
            {{#link-to 'route-comunicacion' tagName="li"}}<a href="">Comunicacion</a>{{/link-to}}
            {{#link-to 'route-declaracion' tagName="li"}}<a href="">Declaracion</a>{{/link-to}}
            {{#link-to 'route-perfil-completo' tagName="li"}}<a href="">Perfil Completo</a>{{/link-to}}
            {{#link-to 'pruebas-estilos' tagName="li"}}<a href="">ESTILOS</a>{{/link-to}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




{{!-- 

<div class="prueba_estilo">
    {{#link-to "index"}}
        <p>Index</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-contacto-emergencia"}}
        <p>Contacto Emergencia</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-documentos"}}
        <p>documentos</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-entrenamiento"}}
        <p>entrenamiento</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-exp-laboral"}}
        <p>exp laboral</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-idiomas"}}
        <p>idiomas</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-medico-cabecera"}}
        <p>medico cabecera</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-memo"}}
        <p>memo</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "route-vacaciones"}}
        <p>vacaciones</p>
    {{/link-to}}
</div>
<div class="prueba_estilo">
    {{#link-to "ruta-formacion-academica"}}
        <p>formacion academica</p>
    {{/link-to}}
</div> --}}
